*{
    margin: 0;
}

body{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    color: #000;
}

body > *:not(main), main > section{
    padding: 0 10vw;
    width: 80vw;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

html body h2{
    margin-top: -150px !important;
    padding-top: 150px !important;
}
html body main > section > h2:before{
    top: 140px !important;
}