header {
    display: grid;
    grid-auto-flow: column;
    gap: 6vw;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5vh;
}

header nav {
    display: grid;
    grid-auto-flow: column;
    gap: 5vw;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header nav li a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.125em;
}

header nav li a:hover {
    color: rgba(255, 255, 255);
    text-shadow: #000 0 0 1px, #000 0 0 1px, #000 0 0 1px, #000 0 0 1px, #000 0 0 1px, #000 0 0 1px;
}

header nav li.current a {
    color: #FF4B32;
    font-weight: 700;
}

header img.menu, header img.close {
    display: none;
}

@media screen and (max-width: 750px) {
    header {
        justify-content: space-between;
    }

    header nav {
        opacity: 0;
        position: absolute;
        width: 100vw;
        grid-auto-flow: row;
        justify-content: center;
        align-content: flex-start;
        background: #fff;
        color: #000;
        height: 100vh;
        top: -5vh;
        text-align: center;
        gap: 40px;
        z-index: -9;
        padding-top: 70px;
    }

    header img.menu {
        display: block;
        cursor: pointer;
        width: 30px;
        height: 20px;
    }

    body:has(nav.open){
        overflow: hidden;
    }

    header:has(nav.open) img.close {
        display: block;
        cursor: pointer;
        width: 30px;
        height: 20px;
        z-index: 10;
        position: absolute;
        top: 20px;
        right: 42px;
    }

    header nav.open {
        opacity: 1;
        z-index: 9;
    }

    header nav li a {
        font-size: 2em;
        color: rgba(0, 0, 0, 0.6);
    }
}